@inject NavigationManager NavigationManager

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
    E-Book
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
