@page "/about"

<section class="m-5">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-around mt-5 pt-5">
            <img class="ms-3 about-img" src="/images/about-img.png" alt="">
            <div class="ms-5">
                <div class="heading_container">
                    <h2>
                        About Our Bookstore
                    </h2>
                </div>
                <p class="text-break">
                    Ebooks online bookstore is website for an extensive collection of books, stationery and magazines in Sri Lanka.
                </p>
                <a class="btn btn-success" href="">
                    Read More
                </a>
            </div>
        </div>
    </div>
</section>

@code {

}
